// VARIABLE
$color-green: #6d9c7d;
$color-green-dark: #28b485;
$color-green-light: #7ed56f;
$color-deep-white: #ccc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //600px
    }
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      } //900px
    }
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      } //1200px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      } //1800px
    }
  }

html {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
  
    @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px, 8/16 * 100 = 50%
    }
  
    @include respond(phone) {
      font-size: 45%; // 1rem = 8px, 8/16 * 100 = 50%
    }
}


// ANIMATION

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(
        -20rem
      ); 
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0); /*to look the way it should look*/
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(
        20rem
      ); 
    }
  
    80% {
      transform: translateX(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(5rem); 
    }
  
    80% {
      transform: translateY(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes position-change {
    0% {
      top: 110%;
    }

    50% {
      top: -10%;
    }
  
    100% {
      top: 110%;
    }
  }

  @keyframes position-change3 {
    0% {
      top: 105%;
    }

    50% {
      top: -5%;
    }
  
    100% {
      top: 105%;
    }
  }

  @keyframes position-change2 {
    0% {
      top: 115%;
    }

    50% {
      top: -20%;
    }
  
    100% {
      top: 115%;
    }
  }

  //*********************************************************************

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}

input,
textarea,
button,
select,
a,
label,
span,
div,
p{
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.lpContainer{
    height: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-green, 0.7),
        rgba($color-green-dark, 0.7)
      ),
      url("../assets/nat-1-large.jpg"); // nat-1-large
     
    position: relative;
    background-size: cover; 
    background-position: top;
    overflow: hidden;
}
.subLpContainer{
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 90% 85%, 25% 100%, 0 80%);
    background-image: linear-gradient(
        to right bottom,
        rgba(#ccc, 0.85),
        rgba($color-white, 0.85)
      ),
    url("../assets/nat-7.jpg"); // nat-7 student-ceremony
    position: relative;
    background-size: cover; 
    background-position: top;
    overflow: hidden;
}

.getStarted{
    padding: 2rem 6rem;
    background-color: $color-white;
    color: $color-grey-dark;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 10rem;
    margin-top: 3rem;
    font-weight: 500;
    position: absolute;
    bottom: 7rem;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 0.5s;
    
    @media (max-width: 600px) {
        bottom: 10rem;
    }
    @media (max-width: 296px) {
        width: 10rem;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover,
    &:active {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
        transform: scaleX(1.4) scaleY(1.6);
        background-color: $color-white;
        opacity: 0;
        }
    }
}

.design1, .design2, .design3{
    width: 8rem;
    height: 8rem;
    position: absolute;
    border-radius: 50%;
}
.design1{
    right: -4rem;
    top: 2rem;
    background-color: $color-green;
}
.design2{
    right: -4rem;
    top: 12rem;
    background-color: $color-green;
}
.design3{
    right: -2rem;
    top: 7rem;
    border: 2px solid $color-green;
}
.student-cartoon{
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 4rem;
    right: 7rem;
    //display: none;

    @media(max-width: 1100px){
        width: 10rem;
        height: 10rem;
        
    }
    @media(max-width: 770px){
        display: none;
    }
}
.school-logo, .logo-image, .logo-hue{
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: 4rem;
    top: 3rem;
    border-radius: 50%;
    transition: all 2s;
    
    &:hover{
        transform: rotateY(360deg);
    }

    @media(max-width: 1050px){
        width: 13rem;
        height: 13rem;
    }
    @media(max-width: 1050px){
        width: 15rem;
        height: 15rem;
    }
    @media(max-width: 800px){
        width: 13rem;
        height: 13rem;
    }
    @media(max-width: 750px){
        width: 16rem;
        height: 16rem;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    @media(max-width: 430px){
        width: 13rem;
        height: 13rem;
        top: 1.5rem;
    }

}

// .school-logo{
//     &:hover{
//         transform: rotateY(360deg);
//     }
// }
// .logo-hue{
//     background-color: rgba($color-deep-white, .35);
//     padding: 0;
//     margin: 0;
// }

.schoolName, .school-name-arabic{
    //margin: 0rem 2rem 5.5rem 2rem;
    margin: 5.5rem 2rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: $color-green;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    @media(max-width: 750px){
        margin-top: 22rem;
    }
}
.school-name-arabic{
    margin: 3.5rem 2rem .5rem 2rem;
    font-size: 3.5rem;
    //letter-spacing: .3rem;
    animation-name: moveInRight;

    // @media(max-width: 750px){
    //     margin-top: 22rem;
    // }
    // @media(max-width: 430px){
    //     margin-top: 16rem;
    // }
}
.aboutSchool{
    color: $color-green;
    text-align: center;
    font-size: 1.6rem;
    margin: 1rem 2rem;
}
.appTitle{
    color: $color-green;
    text-align: center;
    font-size: 3.5rem;
    margin: 8rem 2rem 2.5rem 2rem;
    font-weight: 600;
    letter-spacing: .5rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    @media(max-width: 440px){
       margin-top: 5rem;
    }

    @media(max-width: 320px){
        margin-top: 2.5rem;
     }
    @media(max-width: 289px){
        margin-top: 1.7rem;
     }
}

/*
###############################################
                LOGIN PAGE
################################################
*/

.login-container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, 0.8),
        rgba(0,0,0, 0.8)
      ),
    url("../assets/nat-7.jpg");
    position: relative;
    background-size: cover; 
    background-position: top;
    overflow: hidden;
    position: relative;
    //color: #978D81;
}

.request-shade{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, .75);
    z-index: 5;
}

.input-container{
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    width: 30%;
    margin: 2rem auto 1rem auto;
    background-color: rgba(#ccc, .1);
    border-radius: 100px;
    align-items: center;
    overflow: hidden;

    &:first-child{
        margin-top: 4rem;
    }

    @media(max-width: 1050px){
        width: 40%;
    }
    @media(max-width: 900px){
        height: 5.7rem;
    }
    @media(max-width: 740px){
        width: 50%;
    }
    @media(max-width: 540px){
        width: 60%;
    }
    @media(max-width: 450px){
        width: 70%;
    }
    @media(max-width: 340px){
        width: 85%;
    }

}
.user-icon{
    font-size: 1.8rem;
    color: rgba(#ccc, 1);
    margin-left: 1.5rem;
    width: 10%;
    // @media(max-width: 900px){
    //     font-size: 2rem;
    // }
}
.user-input, .password-input{
    height: 3rem;
    border-color: $color-white;
    background-color: transparent;
    border: none;
    border-left-width: 1px;
    border-left-color: rgba(#ccc, .3);
    border-left-style: solid;
    margin-left: .8rem;
    margin-right: 1.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    outline: none;
    color: $color-deep-white;
    font-size: 1.55rem;
    width: 70%;
    @media(max-width: 900px){
        font-size: 1.8rem;
    }
}

.password-input{
    width: 60%;
}
.show-password-icon1, .show-password-icon2{
    font-size: 1.5rem;
    color: rgba(#ccc, .4);
    margin-right: 1.5rem;
    width: 8%;
    transition: all .2s;

    &:hover{
        color: rgba($color-deep-white, .8);
        transform: scale(1.03);
    }

    @media(max-width: 900px){
        font-size: 1.8rem;
    }
}
.show-password-icon1{
    color: rgba(#ccc, .6);
}

.login-btn{
    display: block;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    text-align: center;
    color: $color-grey-dark;
    text-decoration: none;
    outline: none;
    font-size: 1.7rem;
    border-radius: 10rem;
    margin: 3.5rem auto 2rem auto;
    font-weight: 600;
    width: 30%;
    color: $color-white;
    cursor: pointer;
    background-color: $color-green;
    transition: all 0.5s;

    &:hover, &:focus{
        background-color: $color-green-light;
    }

    @media(max-width: 1050px){
        width: 40%;
    }
    @media(max-width: 900px){
        height: 5.7rem;
        font-size: 2.1rem;
    }
    @media(max-width: 740px){
        width: 50%;
    }
    @media(max-width: 540px){
        width: 60%;
    }
    @media(max-width: 450px){
        width: 70%;
    }
    @media(max-width: 340px){
        width: 85%;
    }
}
.login-logo{
    display: block;
    margin: 4rem auto 3rem auto;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}
.login-greeting{
    font-size: 2rem;
    font-size: 800;
    text-align: center;
    color: $color-deep-white;
    margin-bottom: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.forget-password{
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: rgba(#ccc, .5);
    font-size: 1.5rem;
    padding-top: 10rem;
    margin-left: 52%;
}

.keep-loggedIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 3.5rem auto 1rem auto;
    height: 2.5rem;

    @media(max-width: 1050px){
        width: 40%;
    }
    @media(max-width: 900px){
        height: 5.7rem;
    }
    @media(max-width: 740px){
        width: 50%;
    }
    @media(max-width: 540px){
        width: 60%;
    }
    @media(max-width: 450px){
        width: 70%;
    }
    @media(max-width: 340px){
        width: 85%;
    }
}
.slider-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 6rem;
    height: 2.5rem;
    background-color: rgba($color-deep-white, .15);
    border-radius: 10rem;
    overflow: hidden;
}
.checkbox{
    position: absolute;
    width: 100%;
    height: 2.5rem;
    opacity: 0;
    z-index: 3;

    &:checked ~ .slider{
        margin-left: 3.1rem;
    }
    &:checked ~ .slider-shadow{
        background-color: $color-green;
    }
}

.slider-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 2.5rem;
    background-color: rgba($color-deep-white, .15);
    transition: all .2s;
}
.slider{
    width: 2.7rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $color-white;
    margin-left: .2rem;
    z-index: 2;
    transition: all .4s;
}
.slider-text{
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: rgba(#ccc, .5);
    font-size: 1.3rem;
    margin-left: 1.5rem;
    font-weight: 600;
    @media(max-width: 900px){
        font-size: 1.8rem;
    }
}

/*
###############################################
                MENU BAR
################################################
*/

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 5.5rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $color-green;
    z-index: 2;
}
.page-title{
    text-align: center;
    font-size: 2rem;
    color: $color-white;
    font-weight: 600;
}

.nav-logo{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-left: 2rem;
    opacity: 0;

    @media(max-width: 600px){
        opacity: 1;
    }
}
.nav-logout{
    font-size: 3rem;
    color: $color-white;
    margin-right: 2.5rem;
}

/*
###############################################
                ADMIN DASHBOARD
################################################
*/

.admin-dashboard-container{
    height: 100%;
    width: 100%;
}

.create-dashboard{
    //padding-top: 5.5rem;
    height: 100%;
}
.sub-routes{
    padding: 0 0 0 25rem;
    height: 100%;

    @media(max-width: 600px){
        padding: 0 0;
    }
}
// .open-side-bar{
//     position: fixed;
//     top: 5.5rem;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     background-color: rgba(0,0,0, .2);
//     display: none;
//     z-index: 2;

//     @media(max-width: 600px){
//         display: block;
//     }
// }

.bottom-nav-container{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding: 1rem 0;
    border-top-color: rgba(0,0,0,.1);
    border-top-width: 1px;
    border-top-style: solid;
    background-color: $color-white;
    z-index: 2;

    @media(max-width: 600px){
        display: flex;
    }
}
.bottom-icon-container, .bottom-icon-container-trick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0, .5);
    transition: all .2s;
}
.bottom-icon-container-trick{
    color: $color-green;
}

.menu-div, .menu-div-trick{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    color: rgba(0,0,0, .5);
    transition: all .2s;

}
.menu-div:hover{
    background-color: rgba($color-deep-white, .15);
    color: rgba(0,0,0, .5);
}

.menu-div-trick{
    background-color: $color-green;
    color: $color-white;
}
.menu-icon, .bottom-menu-icon{
    font-size: 2rem;
    margin-left: 3.5rem;  // 2.5
}
.menu-label, .bottom-menu-label{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1.5rem;
    cursor: pointer;
}
.bottom-menu-label{
    margin: .8rem 0;
    font-size: 1.3rem;
}
.bottom-menu-icon{
    margin: 0;
    font-size: 2.2rem;
}


/*
###############################################
                SIDE MENU
################################################
*/

.side-menu-container{
    position: fixed;
    top: 5.5rem;
    left: 0;
    height: 94.5vh;
    border: none;
    overflow-y: auto;
    box-shadow: .5rem 0 1.5rem rgba(0, 0, 0, 0.3);
    width: 25rem;
    padding: 4rem 0 5rem 0;
    background-color: $color-white;

    @media(max-width: 600px){
        display: none;
    }
}
.side-menu-logo{
    display: block;
    width: 11rem;  // 15
    height: 11rem;  // 15
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

/*
###############################################
                ADMIN HOME 
################################################
*/

.admin-home-container{
    height: 100%;
    width: 100%;
    //background-color: rgba($color-deep-white, .5);
    background-image: linear-gradient(
        to right bottom,
        rgba($color-green, 0.1),
        rgba($color-green-dark, 0.1)
      ),
      url("../assets/white3.jpeg");
    position: relative;
    background-size: cover; 
    background-position: top;
    overflow: hidden;
}
.home-intro-container2{
    padding-top: 8rem; // 12
    margin: 0 auto;
    height: 15rem;
    width: 35%; // 50%
    color: $color-green;
    background-color: rgba($color-white, .7);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    //clip-path: polygon(0 35%, 35% 0, 65% 0, 100% 35%, 100% 65%, 65% 100%, 35% 100%, 0 65%);

    @media(max-width: 1130px){
        width: 35%;
    }
    @media(max-width: 830px){
        width: 45%;
    }
    @media(max-width: 670px){
        width: 50%;
    }
    @media(max-width: 600px){
        width: 60%;
    }
    @media(max-width: 500px){
        width: 70%;
    }
    @media(max-width: 380px){
        width: 80%;
    }
    @media(max-width: 315px){
        width: 95%;
    }
}

.home-intro-container3{
    background-color: $color-white;
}

.home-intro-container{
    padding-top: 12rem;
    margin: 0 auto;
    height: 15rem;
    width: 50%; // 50%
    color: $color-green;
    background-color: rgba($color-white, .7);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    //clip-path: polygon(0 35%, 35% 0, 65% 0, 100% 35%, 100% 65%, 65% 100%, 35% 100%, 0 65%);

    @media(max-width: 1130px){
        width: 60%;
    }
    @media(max-width: 830px){
        width: 70%;
    }
    @media(max-width: 670px){
        width: 80%;
    }
    @media(max-width: 600px){
        width: 70%;
    }
    @media(max-width: 500px){
        width: 80%;
    }
    @media(max-width: 380px){
        width: 90%;
    }
    @media(max-width: 315px){
        width: 95%;
    }
}



.home-intro{
    font-size: 3rem;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: 800;  //900
    letter-spacing: .3rem; // .5rem
    margin: 0;
}

.add-member{
    padding: 2rem 6rem;
    background-color: $color-green;
    color: $color-white;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 10rem;
    margin-top: 3rem;
    font-weight: 500;
    position: absolute;
    bottom: 15rem;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 0.5s;
    z-index: 1;
    

    @media (max-width: 360px) {
        text-align: center;
        padding: 2rem;
        width: 16rem;
    }


    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover,
    &:active {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        &::after {
        transform: scaleX(1.4) scaleY(1.6);
        background-color: $color-green;
        opacity: 0;
        }
    }
}

.bubble1, .bubble2, .bubble3{
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.bubble1{
    left: 4rem;
    background-color: rgba($color-green, 0.6);
    animation: position-change 40s infinite;
}

.bubble2{
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($color-deep-white, 0.7);
    animation: position-change2 60s infinite;
}
.bubble3{
    right: 4rem;
    background-color: rgba($color-white, 0.8);
    animation: position-change3 40s infinite;
}

.change-pass-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba($color-green, .6);
    color: $color-white;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);
    transition: all .3s;

    &:hover{
        transform: scale(1.1);
        background-color: $color-green-light;
    }

    @media(max-width: 600px){
        bottom: 11rem;
    }
    @media(max-width: 400px){
        bottom: 10rem;
        right: 1rem;
    }

}


/*
###############################################
                Registration
################################################
*/

.registration-container{
    //font-size: 4rem;
    //color: #777; 
    padding-top: 7rem; 
    text-align: center;
    width: 100%;
    //height: 100%;
    padding-bottom: 3rem;

    @media(max-width: 600px){
        padding-bottom: 11rem;
    }
}
.form-container{
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding: 2rem 2rem;
    border: 1px solid rgba($color-deep-white, .4);
    //box-shadow: .3rem .3rem .4rem rgba(0,0,0, .2);
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);

    @media(max-width: 1180px){
        width: 50%;
    }
    @media(max-width: 1030px){
        width: 60%;
    }
    @media(max-width: 780px){
        width: 70%;
    }
    @media(max-width: 670px){
        width: 80%;
    }
    @media(max-width: 600px){
        width: 60%;
    }
    @media(max-width: 500px){
        width: 70%;
        //box-shadow: none;
        border-radius: 1.5rem;
    }
    @media(max-width: 420px){
        width: 80%;
    }
    @media(max-width: 340px){
        width: 85%;
    }
}
.page-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}
.page-title-icon{
    font-size: 3rem;
    color: $color-green;
}
.page-title-text{
    font-size: 2.5rem;
    color: $color-green;
    font-weight: 600;
    padding-left: 4%;
    padding-right: 15%;
}
.resized-input{
    width: 80%;
    background-color: rgba($color-green, 0.1);
    position: relative;

    @media(max-width: 315px){
        width: 90%;
    }
}
.resized-text{
    font-size: 1.5rem;
    color: rgba(0,0,0,.6);

    &::placeholder{
        color: rgba(0,0,0, .25);
    }
}

.select-field{
    opacity: 0;
    position: absolute;
    background-color: rgba($color-green, .1);
    width: 80%;
    right: 0;
    padding: 0;
    margin: 0;
    height: 4.5rem;
    z-index: 2;

    &:hover ~ .select-field-icon{
        background-color: rgba($color-green, .5);
    }
}
.select-field-icon{
    position: absolute;
    font-size: 1.7rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color-green, .3);
    padding: 2rem;
    color: rgba($color-white, 1);
    transition: all .2s;
}
.create-member{
    width: 80%;
    padding: 1.4rem;
}

/*
###############################################
                FEEDBACK
################################################
*/

.feedback-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 5;
}
.feedback-block{
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    padding-bottom: 1.5rem;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgba($color-green, 1);
    margin-bottom: 2.5rem;
}
.feedback-icon{
    color: $color-white;
    font-size: 4rem;
}
.feedback-title{
    color: $color-green;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    text-align: center;
}
.feedback-text{
    font-size: 1.4rem;
    color: rgba(0,0,0, .5);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
}
.feedback-btn{
    display: block;
    padding: .5rem;
    width: 5rem;
    background-color: $color-green;
    color: $color-white;
    text-decoration: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    border-radius: .5rem;
    margin-top: 3rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/*
###############################################
                ALERT
################################################
*/

.alert-block{
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
}
.alert-title{
    color: rgba(0,0,0, .7);
    font-size: 2rem;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 0rem 1rem;
}

.alert-input-1, .alert-input-2{
    display: block;
    height: 4rem;
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    border: none;
    border: 1px solid rgba($color-deep-white, .7);
    color: rgba(0,0,0, .5);
    outline: none;
    padding: 0 1.5rem;
    font-size: 3rem;
    transition: all .2s;

    &:focus, &:active{
        border-width: 2.3px;
        border-color: $color-green;
    }

    &::placeholder{
        color: rgba(0,0,0, .3);
    }
    &:placeholder-shown{
        font-size: 1.3rem;
    }

    &:not(:last-child){
        margin-top: 1rem;
    }
}

.alert-text{
    font-size: 1.4rem;
    color: rgba(0,0,0, .5);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
}
.alert-error-text{
    font-size: 1rem;
    color: red;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.alert-btn{
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: $color-white;
    color: rgba(0,0,0, .5);
    text-decoration: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba($color-deep-white, .4);
    margin-top: 3rem;
    font-weight: 500;
    cursor: pointer;

    &:hover{
        background-color: rgba($color-deep-white, .3);
    }
}

.logout-btn-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-white;
    color: rgba(0,0,0, .5);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba($color-deep-white, .4);
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.logout-btns{
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    outline: none;
    width: 50%;
    background-color: $color-white;
    color: rgba(0,0,0, .5);
    cursor: pointer;

    &:first-child{
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: rgba($color-deep-white, .4);
    }

    &:hover{
        background-color: rgba($color-deep-white, .3);
    }
}

/*
###############################################
                MENU BAR PLUS
################################################
*/
.navigation{
    width: 100%;

    &__checkbox {
        display: none;
    }

    &__button {
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: .25rem;
        right: 2rem;
        z-index: 4;
        text-align: center;
        cursor: pointer;

       @media(max-width: 350px) {
        right: 1.3rem;
       }
       @media(max-width: 300px) {
        right: 1rem;
        }
     }

    &__background {
        height: 5.5rem;
        width: 100%;
        position: fixed;
        top: 0rem;
        right: 0rem;
        background-color: $color-green;
        z-index: 3;
        transition: all .3s; 
        overflow: hidden;
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        height: 26rem;
    } 

    &__checkbox:checked ~ &__background .option-list{
        opacity: 1;
    } 

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    } 

     // ICON
     &__icon {
         position: relative;
         margin-top: 2.5rem;

         &,
         &::before,
         &::after {
             width: 3rem;
             height: 2px;
             background-color: $color-white;
             display: inline-block;
         }

         &::before,
         &::after {
             content: "";
             position: absolute;
             left: 0;
             transition: all .2s;
         }

         &::before {
             top: -.8rem;
             //transform-origin: right; // it depects which side we want the transformation to
         }

         &::after {
             top: .8rem;
         }
     }

     &__button:hover &__icon::before {
         top: -1rem;
     }

     &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent; // background color of the original span
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}

.nav-logo-plus{
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    left: 2rem;
    top: .5rem;

    @media(max-width: 350px) {
        left: 1.2rem;
    }
    @media(max-width: 300px) {
        left: 1rem;
    }
}
.nav-title-plus{
    font-size: 2rem;
    color: $color-white;
    font-weight: 600;
}
.option-list{
    position: absolute;
    top: 9rem;
    left: 12%;
    color: $color-white;
    opacity: 0;
    transition: all .3s ease-in;

    @media(max-width: 800px){
        left: 14%;
    }
    @media(max-width: 390px){
        left: 15%;
    }

    &-items{
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: 1rem;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            transform: scaleY(1.2);
        }
    }
}

// Teacher Dashboard
.teacher-dashboard-route{
    height: 100%;
}

.teacher-home-container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-green, 0.1),
        rgba($color-green-dark, 0.1)
      ),
      url("../assets/whitish.jpg");
    position: relative;
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}
.button-down{
    bottom: 5rem
}
.teacher-illustrator{
    position: absolute;
    width: 40rem;
    height: 25rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*
###############################################
                PROFILE
################################################
*/
.profile-main-container{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
   // padding-bottom: 4rem;
}
.profile-sub-container{
    display: flex;
    flex-direction: column;
    margin: 0rem auto 2rem auto;
    background-color: rgba($color-deep-white, .3);
    width: 50%;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);

    @media(max-width: 945px){
        width: 60%;
    }
    @media(max-width: 680px){
        width: 70%;
    }
    @media(max-width: 600px){
        width: 60%;
        margin-bottom: 12rem;
    }
    @media(max-width: 440px){
        width: 70%;
    }
    @media(max-width: 370px){
        width: 80%;
    }
    @media(max-width: 330px){
        width: 94%;
    }
}
.info-container{
    display: flex;
    flex-direction: row;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);
    width: 100%;

    &:not(:last-child){
        margin-bottom: .4rem;
    }
}
.info-label, .user-info{
    padding: 1.5rem 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $color-white;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0,0,0, .5);
}
.info-label{
    width: 30%;
    margin-right: 1%;
    font-weight: 600;
}
.user-info{
    width: 68%;
    margin-left: 1%;
}
.custom-input-container{
    width: 50%;
    margin: 10rem auto 9rem auto;
    

    @media(max-width: 1090px){
        width: 70%;
    }
    @media(max-width: 750px){
        width: 80%;
    }
    @media(max-width: 650px){
        width: 85%;
    }
    @media(max-width: 600px){
        width: 65%;
    }
    @media(max-width: 500px){
        width: 75%;
    }
    @media(max-width: 430px){
        width: 90%;
    }
    @media(max-width: 330px){
        width: 100%;
    }
}
.view-result-btn{
    text-decoration: none;
    outline: none;
    display: block;
    padding: .8rem .2rem;
    margin: 1.5rem auto;
    background-color: $color-green;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 10rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: $color-green-light
    }

    @media(max-width: 600px){
        margin-bottom: 11rem;
    }
}
.info-title-text{
    font-size: 1.7rem;
    color: $color-green;
    text-align: center;
    font-weight: 600;
}
.header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0rem auto;
    width: 50%;

    &-icon-1,&-icon-2{
        position: absolute;
        font-size: 2rem;
        color: $color-green;
        transition: all .2s;

        &:hover{
            color: $color-green-light;
        }
    }
    &-icon-1{
        right: 4.5rem;
    }

    &-icon-2{
        right: 1rem;
    }


    @media(max-width: 945px){
        width: 60%;
    }
    @media(max-width: 680px){
        width: 70%;
    }
    @media(max-width: 600px){
        width: 60%;
    }
    @media(max-width: 440px){
        width: 70%;
    }
    @media(max-width: 370px){
        width: 80%;
    }
    @media(max-width: 330px){
        width: 94%;
    }
}


/*
###############################################
                STUDENT HOME
################################################
*/

.student-home-container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-green, 0.2),
        rgba($color-green-dark, 0.2)
      ),
      url("../assets/student2.jpg");
    position: relative;
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}


/*
###############################################
                RESULT VIEW
################################################
*/

.result-container{
    display: flex;
    flex-direction: column;
    margin: 0rem auto 3rem auto;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-deep-white, .3);
    width: 85%;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);

   
    @media(max-width: 730px){
        width: 90%;
    }
    @media(max-width: 600px){
        width: 85%;
        margin-bottom: 12rem;
    }
    @media(max-width: 470px){
        width: 90%;
    }
    @media(max-width: 350px){
        width: 95%;
    }
   
}


.result-sn, .result-subjects, .result-test-score, .result-exam-score, .result-total{
    padding: 1.5rem .7rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $color-white;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0,0,0, .5);
    margin-right: .5%;
}
.result-label{
    font-weight: 600;
}
.result-sn{
    width: 6%;
    //font-weight: 600;
}
.result-subjects{
    width: 40%;
}
.result-test-score, .result-exam-score{
    width: 18%;
}
.result-total{
    width: 24%;
    margin-right: 0
}
.header-text-large{
    width: 85%;

    @media(max-width: 730px){
        width: 90%;
    }
    @media(max-width: 600px){
        width: 85%;
    }
    @media(max-width: 470px){
        width: 90%;
    }
    @media(max-width: 350px){
        width: 95%;
    }
}
.get-result-btn{
    width: 13rem;
    margin-top: 2rem;
    background-color: rgba($color-green, .6);
    color: $color-white;
}
.result-upload-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgba($color-green, .6);
    color: $color-white;
    position: fixed;
    top: 9rem;
    right: 5rem;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);
    transition: all .3s;

    &:hover{
        transform: scale(1.1);
        background-color: $color-green-light;
    }

    @media(max-width: 790px){
        right: 3rem;
    }
    @media(max-width: 700px){
        right: 1.5rem;
    }
    @media(max-width: 520px){
        display: none;
    }

}
.result-upload-icon{
    font-size: 2.5rem;
    font-weight: 600;
}



/*
###############################################
                UPLOAD VIEW
################################################
*/

.upload-result-container{
    display: flex;
    flex-direction: column;
    margin: 0rem auto 3rem auto;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-deep-white, .3);
    width: 65%;
    box-shadow: 0 .4rem .9rem rgba(0,0,0, .11);

    @media(max-width: 750px){
        width: 75%;
    }
    @media(max-width: 550px){
        width: 80%;
    }
    @media(max-width: 450px){
        width: 85%;
    }
    @media(max-width: 340px){
        width: 90%;
    }
}

.upload-sn, .upload-subjects, .upload-type, .upload-result-delete{
    padding: 1.5rem .7rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $color-white;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0,0,0, .5);
    margin-right: .5%;
}
.upload-sn{
    width: 6%;
    //font-weight: 600;
}
.upload-subjects{
    width: 60%;
}
.upload-type{
    width: 30%;
}
.upload-result-delete{
    width: 4%;
    margin-right: 0
}
.upload-delete-icon{
    font-size: 1.8rem;
    transition: all .2s;

    &:hover{
        color: red;
    }
}

.resize-select-field{
    width: 100%;
}
.remove-input-border{
    border: none;
}

.each-subject-result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    //flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 1rem auto 4rem auto;

    @media(max-width: 909px){
        width: 75%
    }

    @media(max-width: 750px){
        width: 80%;
    }

    @media(max-width: 675px){
        width: 95%;
    }

    @media(max-width: 600px){
        width: 60%;
        flex-direction: column;
        padding: 3rem 1rem;
        border: 1px solid rgba($color-green, .2);
        border-radius: 2rem;
    }
    @media(max-width: 368px){
        width: 75%;
    }
}
.reduced-width-select{
    width: 47%;
    height: 4.5rem;
    border-radius: 10rem;
    padding-right: 5.7rem;
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-right: 5%;
    overflow: hidden;

    @media(max-width: 600px){
        margin-right: 0;
        margin-bottom: 2rem;
        width: 75%;
    }
    
    @media(max-width: 450px){
        width: 85%;
    }
}
.score-input{
    width: 28%;
    border: none;
    height: 4.5rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10rem;
    padding: 0 .5rem;
    background-color: rgba($color-green, .1);
    color: rgba(0,0,0, .6);
    margin-right: 5%;
    font-size: 1.5rem;
    outline: none;

    &::placeholder{
        color: rgba(0,0,0, .25);
    }

    @media(max-width: 600px){
        margin-right: 0;
        margin-bottom: 2rem;
        text-align: left;
        padding-left: 2rem;
        width: 75%;
    }
    @media(max-width: 450px){
        width: 85%;
    }
}

.add-result-btn{
    outline: none;
    text-decoration: none;
    width: 18%;
    text-align: center;
    display: block;
    padding: 1.3rem .5rem;
    border-radius: 1.5rem; // 10rem
    color: $color-white;
    background-color: rgba($color-green, .5);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: $color-green-light;
    }
    
    @media(max-width: 600px){
        border-radius: 1rem;
        width: 30%;
    }
    @media(max-width: 450px){
        width: 35%;
    }
}

.each-upload-select-field{
    opacity: 0;
    position: absolute;
    background-color: rgba($color-green, .1);
    width: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    height: 4.5rem;
    z-index: 2;

    &:hover ~ .each-upload-select-field-icon{
        background-color: rgba($color-green, .5);
    }
}
.each-upload-select-field-icon{
    position: absolute;
    font-size: 1.7rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color-green, .3);
    padding: 2rem;
    color: rgba($color-white, 1);
    transition: all .2s;
}
.upload-select-input{
    width: 100%;
    height: 4.5rem;
    border: none;
    box-sizing: border-box;
    background-color: rgba($color-green, 0.1);
    padding: 0 .5rem 0 1.5rem;
    position: relative;


    // @media(max-width: 315px){
    //     width: 90%;
    // }
}