html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*to look the way it should look*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes position-change {
  0% {
    top: 110%; }
  50% {
    top: -10%; }
  100% {
    top: 110%; } }

@keyframes position-change3 {
  0% {
    top: 105%; }
  50% {
    top: -5%; }
  100% {
    top: 105%; } }

@keyframes position-change2 {
  0% {
    top: 115%; }
  50% {
    top: -20%; }
  100% {
    top: 115%; } }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%; }

input,
textarea,
button,
select,
a,
label,
span,
div,
p {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@page {
  margin-bottom: 2rem;
  margin-top: 2rem; }

@media print {
  body {
    box-sizing: content-box !important; }
  .nav-container {
    display: none !important; }
  .navigation {
    display: none !important; }
  .bottom-nav-container {
    display: none !important; }
  .side-menu-container {
    display: none !important; }
  .sub-routes {
    padding: 0 0 !important; }
  .result-upload-btn {
    display: none !important; }
  .view-result-btn, .get-result-btn {
    display: none !important; }
  .custom-input-container {
    margin: 3rem auto 2rem auto !important; }
  .header-text-icon-1, .header-text-icon-2, .header-text-icon-3 {
    display: none !important; }
  .header-text {
    transform: scale(0.87) !important;
    margin: 0 auto !important; }
  .result-school-logo, .result-schoolName, .input-container, .result-container, .comment-container {
    transform: scale(0.87) !important; }
  .comment-container {
    margin: 0 auto !important;
    padding: 0 !important; }
  .result-container {
    margin: 0 auto !important;
    padding: 0 !important; } }

.lpContainer {
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(109, 156, 125, 0.7), rgba(40, 180, 133, 0.7)), url("../assets/nat-1-large.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  overflow: hidden; }

.subLpContainer {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 90% 85%, 25% 100%, 0 80%);
  background-image: linear-gradient(to right bottom, rgba(204, 204, 204, 0.85), rgba(255, 255, 255, 0.85)), url("../assets/nat-7.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  overflow: hidden; }

.getStarted {
  padding: 2rem 6rem;
  background-color: #fff;
  color: #777;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 10rem;
  margin-top: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 7rem;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all 0.5s; }
  @media (max-width: 600px) {
    .getStarted {
      bottom: 10rem; } }
  @media (max-width: 296px) {
    .getStarted {
      width: 10rem; } }
  .getStarted::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .getStarted:hover, .getStarted:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .getStarted:hover::after, .getStarted:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: #fff;
      opacity: 0; }

.design1, .design2, .design3 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  border-radius: 50%; }

.design1 {
  right: -4rem;
  top: 2rem;
  background-color: #6d9c7d; }

.design2 {
  right: -4rem;
  top: 12rem;
  background-color: #6d9c7d; }

.design3 {
  right: -2rem;
  top: 7rem;
  border: 2px solid #6d9c7d; }

.student-cartoon {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 4rem;
  right: 7rem; }
  @media (max-width: 1100px) {
    .student-cartoon {
      width: 10rem;
      height: 10rem; } }
  @media (max-width: 770px) {
    .student-cartoon {
      display: none; } }

.school-logo, .logo-image, .logo-hue {
  width: 18rem;
  height: 18rem;
  position: absolute;
  left: 4rem;
  top: 3rem;
  border-radius: 50%;
  transition: all 2s; }
  .school-logo:hover, .logo-image:hover, .logo-hue:hover {
    transform: rotateY(360deg); }
  @media (max-width: 1050px) {
    .school-logo, .logo-image, .logo-hue {
      width: 13rem;
      height: 13rem; } }
  @media (max-width: 1050px) {
    .school-logo, .logo-image, .logo-hue {
      width: 15rem;
      height: 15rem; } }
  @media (max-width: 800px) {
    .school-logo, .logo-image, .logo-hue {
      width: 13rem;
      height: 13rem; } }
  @media (max-width: 750px) {
    .school-logo, .logo-image, .logo-hue {
      width: 16rem;
      height: 16rem;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 430px) {
    .school-logo, .logo-image, .logo-hue {
      width: 13rem;
      height: 13rem;
      top: 1.5rem; } }

.schoolName, .school-name-arabic {
  margin: 5.5rem 2rem;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #6d9c7d;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out; }
  @media (max-width: 750px) {
    .schoolName, .school-name-arabic {
      margin-top: 22rem; } }

.school-name-arabic {
  margin: 3.5rem 2rem .5rem 2rem;
  font-size: 3.5rem;
  animation-name: moveInRight; }

.aboutSchool {
  color: #6d9c7d;
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 2rem; }

.appTitle {
  color: #6d9c7d;
  text-align: center;
  font-size: 3.5rem;
  margin: 8rem 2rem 2.5rem 2rem;
  font-weight: 600;
  letter-spacing: .5rem;
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out; }
  @media (max-width: 440px) {
    .appTitle {
      margin-top: 5rem; } }
  @media (max-width: 320px) {
    .appTitle {
      margin-top: 2.5rem; } }
  @media (max-width: 289px) {
    .appTitle {
      margin-top: 1.7rem; } }

/*
###############################################
                LOGIN PAGE
################################################
*/
.login-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/nat-7.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.request-shade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5; }

.remove-overflow {
  overflow: visible !important; }

.input-container {
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  width: 50rem;
  margin: 2rem auto 1rem auto;
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 100px;
  align-items: center;
  overflow: hidden; }
  .input-container:first-child {
    margin-top: 4rem; }
  @media (max-width: 1050px) {
    .input-container {
      width: 40%; } }
  @media (max-width: 900px) {
    .input-container {
      height: 5.7rem; } }
  @media (max-width: 740px) {
    .input-container {
      width: 50%; } }
  @media (max-width: 540px) {
    .input-container {
      width: 60%; } }
  @media (max-width: 450px) {
    .input-container {
      width: 70%; } }
  @media (max-width: 340px) {
    .input-container {
      width: 85%; } }

.user-icon {
  font-size: 1.8rem;
  color: #cccccc;
  margin-left: 1.5rem;
  width: 10%; }

.user-input, .password-input {
  height: 3rem;
  border-color: #fff;
  background-color: transparent;
  border: none;
  border-left-width: 1px;
  border-left-color: rgba(204, 204, 204, 0.3);
  border-left-style: solid;
  margin-left: .8rem;
  margin-right: 1.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  color: #ccc;
  font-size: 1.55rem;
  width: 70%; }
  @media (max-width: 900px) {
    .user-input, .password-input {
      font-size: 1.8rem; } }

.password-input {
  width: 60%; }

.show-password-icon1, .show-password-icon2 {
  font-size: 1.5rem;
  color: rgba(204, 204, 204, 0.4);
  margin-right: 1.5rem;
  width: 8%;
  transition: all .2s; }
  .show-password-icon1:hover, .show-password-icon2:hover {
    color: rgba(204, 204, 204, 0.8);
    transform: scale(1.03); }
  @media (max-width: 900px) {
    .show-password-icon1, .show-password-icon2 {
      font-size: 1.8rem; } }

.show-password-icon1 {
  color: rgba(204, 204, 204, 0.6); }

.login-btn {
  display: block;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  text-align: center;
  color: #777;
  text-decoration: none;
  outline: none;
  font-size: 1.7rem;
  border-radius: 10rem;
  margin: 3.5rem auto 2rem auto;
  font-weight: 600;
  width: 50rem;
  color: #fff;
  cursor: pointer;
  background-color: #6d9c7d;
  transition: all 0.5s; }
  .login-btn:hover, .login-btn:focus {
    background-color: #7ed56f; }
  @media (max-width: 1050px) {
    .login-btn {
      width: 40%; } }
  @media (max-width: 900px) {
    .login-btn {
      height: 5.7rem;
      font-size: 2.1rem; } }
  @media (max-width: 740px) {
    .login-btn {
      width: 50%; } }
  @media (max-width: 540px) {
    .login-btn {
      width: 60%; } }
  @media (max-width: 450px) {
    .login-btn {
      width: 70%; } }
  @media (max-width: 340px) {
    .login-btn {
      width: 85%; } }

.login-logo {
  display: block;
  margin: 4rem auto 3rem auto;
  width: 12rem;
  height: 12rem;
  border-radius: 50%; }

.login-greeting {
  font-size: 2rem;
  font-size: 800;
  text-align: center;
  color: #ccc;
  margin-bottom: 6rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.forget-password {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: rgba(204, 204, 204, 0.5);
  font-size: 1.5rem;
  padding-top: 10rem;
  margin-left: 52%; }

.keep-loggedIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 3.5rem auto 1rem auto;
  height: 2.5rem; }
  @media (max-width: 1050px) {
    .keep-loggedIn {
      width: 40%; } }
  @media (max-width: 900px) {
    .keep-loggedIn {
      height: 5.7rem; } }
  @media (max-width: 740px) {
    .keep-loggedIn {
      width: 50%; } }
  @media (max-width: 540px) {
    .keep-loggedIn {
      width: 60%; } }
  @media (max-width: 450px) {
    .keep-loggedIn {
      width: 70%; } }
  @media (max-width: 340px) {
    .keep-loggedIn {
      width: 85%; } }

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 6rem;
  height: 2.5rem;
  background-color: rgba(204, 204, 204, 0.15);
  border-radius: 10rem;
  overflow: hidden; }

.checkbox {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  opacity: 0;
  z-index: 3; }
  .checkbox:checked ~ .slider {
    margin-left: 3.1rem; }
  .checkbox:checked ~ .slider-shadow {
    background-color: #6d9c7d; }

.slider-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 2.5rem;
  background-color: rgba(204, 204, 204, 0.15);
  transition: all .2s; }

.slider {
  width: 2.7rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  margin-left: .2rem;
  z-index: 2;
  transition: all .4s; }

.slider-text {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: rgba(204, 204, 204, 0.5);
  font-size: 1.3rem;
  margin-left: 1.5rem;
  font-weight: 600; }
  @media (max-width: 900px) {
    .slider-text {
      font-size: 1.8rem; } }

/*
###############################################
                MENU BAR
################################################
*/
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 5.5rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #6d9c7d;
  z-index: 2; }

.page-title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 600; }

.nav-logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-left: 2rem;
  opacity: 0; }
  @media (max-width: 600px) {
    .nav-logo {
      opacity: 1; } }

.nav-logout {
  font-size: 3rem;
  color: #fff;
  margin-right: 2.5rem; }

/*
###############################################
                ADMIN DASHBOARD
################################################
*/
.admin-dashboard-container {
  height: 100%;
  width: 100%; }

.create-dashboard {
  height: 100%; }

.sub-routes {
  padding: 0 0 0 25rem;
  height: 100%; }
  @media (max-width: 600px) {
    .sub-routes {
      padding: 0 0; } }

.bottom-nav-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  padding: 1rem 0;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-top-style: solid;
  background-color: #fff;
  z-index: 2; }
  @media (max-width: 600px) {
    .bottom-nav-container {
      display: flex; } }

.bottom-icon-container, .bottom-icon-container-trick {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  transition: all .2s; }

.bottom-icon-container-trick {
  color: #6d9c7d; }

.menu-div, .menu-div-trick {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  transition: all .2s; }

.menu-div:hover {
  background-color: rgba(204, 204, 204, 0.15);
  color: rgba(0, 0, 0, 0.5); }

.menu-div-trick {
  background-color: #6d9c7d;
  color: #fff; }

.menu-icon, .bottom-menu-icon {
  font-size: 2rem;
  margin-left: 3.5rem; }

.menu-label, .bottom-menu-label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 1.5rem;
  cursor: pointer; }

.bottom-menu-label {
  margin: .8rem 0;
  font-size: 1.3rem; }

.bottom-menu-icon {
  margin: 0;
  font-size: 2.2rem; }

/*
###############################################
                SIDE MENU
################################################
*/
.side-menu-container {
  position: fixed;
  top: 5.5rem;
  left: 0;
  height: 94.5vh;
  border: none;
  overflow-y: auto;
  box-shadow: 0.5rem 0 1.5rem rgba(0, 0, 0, 0.3);
  width: 25rem;
  padding: 4rem 0 5rem 0;
  background-color: #fff; }
  @media (max-width: 600px) {
    .side-menu-container {
      display: none; } }

.side-menu-logo {
  display: block;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 3rem; }

/*
###############################################
                ADMIN HOME 
################################################
*/
.admin-home-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(109, 156, 125, 0.1), rgba(40, 180, 133, 0.1)), url("../assets/white3.jpeg");
  position: relative;
  background-size: cover;
  background-position: top;
  overflow: hidden; }

.home-intro-container2 {
  padding-top: 8rem;
  margin: 0 auto;
  height: 15rem;
  width: 35%;
  color: #6d9c7d;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }
  @media (max-width: 1130px) {
    .home-intro-container2 {
      width: 35%; } }
  @media (max-width: 830px) {
    .home-intro-container2 {
      width: 45%; } }
  @media (max-width: 670px) {
    .home-intro-container2 {
      width: 50%; } }
  @media (max-width: 600px) {
    .home-intro-container2 {
      width: 60%; } }
  @media (max-width: 500px) {
    .home-intro-container2 {
      width: 70%; } }
  @media (max-width: 380px) {
    .home-intro-container2 {
      width: 80%; } }
  @media (max-width: 315px) {
    .home-intro-container2 {
      width: 95%; } }

.home-intro-container3 {
  background-color: #fff; }

.home-intro-container {
  padding-top: 12rem;
  margin: 0 auto;
  height: 15rem;
  width: 50%;
  color: #6d9c7d;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }
  @media (max-width: 1130px) {
    .home-intro-container {
      width: 60%; } }
  @media (max-width: 830px) {
    .home-intro-container {
      width: 70%; } }
  @media (max-width: 670px) {
    .home-intro-container {
      width: 80%; } }
  @media (max-width: 600px) {
    .home-intro-container {
      width: 70%; } }
  @media (max-width: 500px) {
    .home-intro-container {
      width: 80%; } }
  @media (max-width: 380px) {
    .home-intro-container {
      width: 90%; } }
  @media (max-width: 315px) {
    .home-intro-container {
      width: 95%; } }

.home-intro {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: 800;
  letter-spacing: .3rem;
  margin: 0; }

.add-member {
  padding: 2rem 6rem;
  background-color: #6d9c7d;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 10rem;
  margin-top: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 15rem;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all 0.5s;
  z-index: 1; }
  @media (max-width: 360px) {
    .add-member {
      text-align: center;
      padding: 2rem;
      width: 16rem; } }
  .add-member::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .add-member:hover, .add-member:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .add-member:hover::after, .add-member:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: #6d9c7d;
      opacity: 0; }

.bubble1, .bubble2, .bubble3 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%; }

.bubble1 {
  left: 4rem;
  background-color: rgba(109, 156, 125, 0.6);
  animation: position-change 40s infinite; }

.bubble2 {
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(204, 204, 204, 0.7);
  animation: position-change2 60s infinite; }

.bubble3 {
  right: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  animation: position-change3 40s infinite; }

.change-pass-icon, .broadcast-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(109, 156, 125, 0.6);
  color: #fff;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11);
  transition: all .3s; }
  .change-pass-icon:hover, .broadcast-mail:hover {
    transform: scale(1.1);
    background-color: #7ed56f; }
  @media (max-width: 600px) {
    .change-pass-icon, .broadcast-mail {
      bottom: 11rem; } }
  @media (max-width: 400px) {
    .change-pass-icon, .broadcast-mail {
      bottom: 10rem;
      right: 1rem; } }

.broadcast-mail {
  bottom: 10rem; }
  @media (max-width: 600px) {
    .broadcast-mail {
      bottom: 17rem; } }
  @media (max-width: 400px) {
    .broadcast-mail {
      bottom: 16rem;
      right: 1rem; } }

/*
###############################################
                Registration
################################################
*/
.registration-container {
  padding-top: 3rem;
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  @media (max-width: 600px) {
    .registration-container {
      padding-bottom: 11rem;
      padding-top: 7rem;
      display: block; } }

.form-container {
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  border: 1px solid rgba(204, 204, 204, 0.4);
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11); }
  @media (max-width: 1180px) {
    .form-container {
      width: 50%; } }
  @media (max-width: 1030px) {
    .form-container {
      width: 60%; } }
  @media (max-width: 780px) {
    .form-container {
      width: 70%; } }
  @media (max-width: 670px) {
    .form-container {
      width: 80%; } }
  @media (max-width: 600px) {
    .form-container {
      width: 60%; } }
  @media (max-width: 500px) {
    .form-container {
      width: 70%;
      border-radius: 1.5rem; } }
  @media (max-width: 420px) {
    .form-container {
      width: 80%; } }
  @media (max-width: 340px) {
    .form-container {
      width: 85%; } }

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem; }

.page-title-icon {
  font-size: 3rem;
  color: #6d9c7d; }

.page-title-text {
  font-size: 2.5rem;
  color: #6d9c7d;
  font-weight: 600;
  padding-left: 4%;
  padding-right: 15%; }

.resized-input {
  width: 80%;
  background-color: rgba(109, 156, 125, 0.1);
  position: relative; }
  @media (max-width: 315px) {
    .resized-input {
      width: 90%; } }

.resized-text {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6); }
  .resized-text::placeholder {
    color: rgba(0, 0, 0, 0.25); }

.select-field {
  opacity: 0;
  position: absolute;
  background-color: rgba(109, 156, 125, 0.1);
  width: 80%;
  right: 0;
  padding: 0;
  margin: 0;
  height: 4.5rem;
  z-index: 2; }
  .select-field:hover ~ .select-field-icon {
    background-color: rgba(109, 156, 125, 0.5); }

.select-field-icon {
  position: absolute;
  font-size: 1.7rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(109, 156, 125, 0.3);
  padding: 2rem;
  color: white;
  transition: all .2s; }

.create-member {
  width: 80%;
  padding: 1.4rem; }

/*
###############################################
                FEEDBACK
################################################
*/
.feedback-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6; }

.notifier-container {
  z-index: 5; }

.feedback-block {
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-bottom: 1.5rem; }

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #6d9c7d;
  margin-bottom: 2.5rem; }

.feedback-icon {
  color: #fff;
  font-size: 4rem; }

.feedback-title {
  color: #6d9c7d;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  text-align: center; }

.feedback-text {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-align: center; }

.feedback-btn {
  display: block;
  padding: .5rem;
  width: 5rem;
  background-color: #6d9c7d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  border-radius: .5rem;
  margin-top: 3rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }

/*
###############################################
                ALERT
################################################
*/
.alert-block, .broadcast-mail-block {
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden; }

.broadcast-mail-block {
  width: 45rem; }

.alert-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 0rem 1rem; }

.alert-input-1, .alert-input-2 {
  display: block;
  height: 4rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  border: 1px solid rgba(204, 204, 204, 0.7);
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 0 1.5rem;
  font-size: 3rem;
  transition: all .2s; }
  .alert-input-1:focus, .alert-input-1:active, .alert-input-2:focus, .alert-input-2:active {
    border-width: 2.3px;
    border-color: #6d9c7d; }
  .alert-input-1::placeholder, .alert-input-2::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .alert-input-1:placeholder-shown, .alert-input-2:placeholder-shown {
    font-size: 1.3rem; }
  .alert-input-1:not(:last-child), .alert-input-2:not(:last-child) {
    margin-top: 1rem; }

.comment-type {
  width: 80%;
  font-size: 1.5rem; }
  .comment-type:placeholder-shown {
    font-size: 1.4rem; }
  .comment-type::placeholder {
    color: rgba(0, 0, 0, 0.25); }

.alert-text {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-align: center; }

.alert-error-text {
  font-size: 1rem;
  color: red;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0; }

.alert-btn {
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(204, 204, 204, 0.4);
  margin-top: 3rem;
  font-weight: 500;
  cursor: pointer; }
  .alert-btn:hover {
    background-color: rgba(204, 204, 204, 0.3); }

.comment-title {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 600;
  padding-bottom: 1rem; }

.comment-box {
  height: 8rem;
  padding-top: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem; }
  .comment-box:placeholder-shown {
    font-size: 1.4rem; }

.logout-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(204, 204, 204, 0.4);
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 500; }

.logout-btns {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  outline: none;
  width: 50%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .logout-btns:first-child {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(204, 204, 204, 0.4); }
  .logout-btns:hover {
    background-color: rgba(204, 204, 204, 0.3); }

/*
###############################################
                MENU BAR PLUS
################################################
*/
.navigation {
  width: 100%; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: .25rem;
    right: 2rem;
    z-index: 4;
    text-align: center;
    cursor: pointer; }
    @media (max-width: 350px) {
      .navigation__button {
        right: 1.3rem; } }
    @media (max-width: 300px) {
      .navigation__button {
        right: 1rem; } }
  .navigation__background {
    height: 5.5rem;
    width: 100%;
    position: fixed;
    top: 0rem;
    right: 0rem;
    background-color: #6d9c7d;
    z-index: 3;
    transition: all .3s;
    overflow: hidden; }
  .navigation__checkbox:checked ~ .navigation__background {
    height: 26rem; }
  .navigation__checkbox:checked ~ .navigation__background .option-list {
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1; }
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.nav-logo-plus {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  left: 2rem;
  top: .5rem; }
  @media (max-width: 350px) {
    .nav-logo-plus {
      left: 1.2rem; } }
  @media (max-width: 300px) {
    .nav-logo-plus {
      left: 1rem; } }

.nav-title-plus {
  font-size: 2rem;
  color: #fff;
  font-weight: 600; }

.option-list {
  position: absolute;
  top: 9rem;
  left: 12%;
  color: #fff;
  opacity: 0;
  transition: all .3s ease-in; }
  @media (max-width: 800px) {
    .option-list {
      left: 14%; } }
  @media (max-width: 390px) {
    .option-list {
      left: 15%; } }
  .option-list-items {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all .3s; }
    .option-list-items:hover {
      transform: scaleY(1.2); }

.teacher-dashboard-route {
  height: 100%; }

.teacher-home-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(109, 156, 125, 0.1), rgba(40, 180, 133, 0.1)), url("../assets/whitish.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden; }

.button-down {
  bottom: 5rem; }

.teacher-illustrator {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*
###############################################
                PROFILE
################################################
*/
.profile-main-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 7rem; }

.profile-main-container_print {
  height: 100%;
  width: 100%;
  overflow-y: visible;
  margin-bottom: 7rem; }

.profile-sub-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem auto;
  background-color: rgba(204, 204, 204, 0.3);
  width: 50%;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11); }
  @media (max-width: 945px) {
    .profile-sub-container {
      width: 60%; } }
  @media (max-width: 680px) {
    .profile-sub-container {
      width: 70%; } }
  @media (max-width: 600px) {
    .profile-sub-container {
      width: 60%;
      margin-bottom: 12rem; } }
  @media (max-width: 440px) {
    .profile-sub-container {
      width: 70%; } }
  @media (max-width: 370px) {
    .profile-sub-container {
      width: 80%; } }
  @media (max-width: 330px) {
    .profile-sub-container {
      width: 94%; } }

.info-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11);
  width: 100%; }
  .info-container:not(:last-child) {
    margin-bottom: .4rem; }

.info-label, .user-info {
  padding: 1.5rem 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5); }

.info-label {
  width: 30%;
  margin-right: 1%;
  font-weight: 600; }

.user-info {
  width: 68%;
  margin-left: 1%; }

.custom-input-container {
  width: 70rem;
  margin: 10rem auto 9rem auto; }
  @media (max-width: 1100px) {
    .custom-input-container {
      width: 70%; } }
  @media (max-width: 750px) {
    .custom-input-container {
      width: 80%; } }
  @media (max-width: 650px) {
    .custom-input-container {
      width: 85%; } }
  @media (max-width: 600px) {
    .custom-input-container {
      width: 65%; } }
  @media (max-width: 500px) {
    .custom-input-container {
      width: 75%; } }
  @media (max-width: 430px) {
    .custom-input-container {
      width: 90%; } }
  @media (max-width: 330px) {
    .custom-input-container {
      width: 100%; } }

.view-result-btn {
  text-decoration: none;
  outline: none;
  display: block;
  padding: .8rem .2rem;
  margin: 1.5rem auto;
  background-color: #6d9c7d;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 10rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .2s; }
  .view-result-btn:hover {
    background-color: #7ed56f; }
  @media (max-width: 600px) {
    .view-result-btn {
      margin-bottom: 11rem; } }

.info-title-text {
  font-size: 1.7rem;
  color: #6d9c7d;
  text-align: center;
  font-weight: 600; }

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0rem auto;
  width: 50%; }
  .header-text-icon-1, .header-text-icon-2, .header-text-icon-3 {
    position: absolute;
    font-size: 2rem;
    color: #6d9c7d;
    transition: all .2s; }
    .header-text-icon-1:hover, .header-text-icon-2:hover, .header-text-icon-3:hover {
      color: #7ed56f; }
  .header-text-icon-1 {
    right: 4.5rem; }
  .header-text-icon-2 {
    right: 1rem; }
  .header-text-icon-3 {
    right: 8rem; }
  @media (max-width: 945px) {
    .header-text {
      width: 60%; } }
  @media (max-width: 680px) {
    .header-text {
      width: 70%; } }
  @media (max-width: 600px) {
    .header-text {
      width: 60%; } }
  @media (max-width: 440px) {
    .header-text {
      width: 70%; } }
  @media (max-width: 370px) {
    .header-text {
      width: 80%; } }
  @media (max-width: 330px) {
    .header-text {
      width: 94%; } }

/*
###############################################
                STUDENT HOME
################################################
*/
.student-home-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(109, 156, 125, 0.2), rgba(40, 180, 133, 0.2)), url("../assets/student2.jpg");
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden; }

/*
###############################################
                RESULT VIEW
################################################
*/
.result-container {
  display: flex;
  flex-direction: column;
  margin: 0rem auto 3rem auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.3);
  width: 85%;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11); }
  @media (max-width: 730px) {
    .result-container {
      width: 90%; } }
  @media (max-width: 600px) {
    .result-container {
      width: 85%; } }
  @media (max-width: 470px) {
    .result-container {
      width: 90%; } }
  @media (max-width: 350px) {
    .result-container {
      width: 95%; } }

.result-sn, .result-subjects, .result-test-score, .result-exam-score, .result-total {
  padding: 1.5rem .7rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  margin-right: .5%; }

.result-label {
  font-weight: 600; }

.result-sn {
  width: 6%; }

.result-subjects {
  width: 40%; }

.result-test-score, .result-exam-score {
  width: 18%; }

.result-total {
  width: 24%;
  margin-right: 0; }

.header-text-large {
  width: 85%; }
  @media (max-width: 730px) {
    .header-text-large {
      width: 90%; } }
  @media (max-width: 600px) {
    .header-text-large {
      width: 85%; } }
  @media (max-width: 470px) {
    .header-text-large {
      width: 90%; } }
  @media (max-width: 350px) {
    .header-text-large {
      width: 95%; } }

.get-result-btn {
  width: 13rem;
  margin-top: 2rem;
  background-color: rgba(109, 156, 125, 0.6);
  color: #fff; }

.result-upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(109, 156, 125, 0.6);
  color: #fff;
  position: fixed;
  top: 9rem;
  right: 5rem;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11);
  transition: all .3s; }
  .result-upload-btn:hover {
    transform: scale(1.1);
    background-color: #7ed56f; }
  @media (max-width: 790px) {
    .result-upload-btn {
      right: 3rem; } }
  @media (max-width: 700px) {
    .result-upload-btn {
      right: 1.5rem; } }
  @media (max-width: 520px) {
    .result-upload-btn {
      display: none; } }

.result-upload-icon {
  font-size: 2.5rem;
  font-weight: 600; }

.comment-container {
  width: 85%;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 2rem; }
  @media (max-width: 730px) {
    .comment-container {
      width: 90%; } }
  @media (max-width: 600px) {
    .comment-container {
      width: 85%;
      margin-bottom: 12rem; } }
  @media (max-width: 470px) {
    .comment-container {
      width: 90%; } }
  @media (max-width: 350px) {
    .comment-container {
      width: 95%; } }

.result-comment {
  color: #6d9c7d;
  font-size: 1.3rem;
  font-weight: 600; }

.change-style {
  display: none; }

.comment-text {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  padding-left: 1rem; }

.result-school-logo {
  width: 12rem;
  height: 12rem;
  display: block;
  margin: 0rem auto 1rem auto; }

.result-schoolName {
  color: #6d9c7d;
  font-size: 2.5rem;
  text-align: center;
  margin: .5rem 2rem 10rem 2rem;
  padding: 0; }

/*
###############################################
                UPLOAD VIEW
################################################
*/
.upload-result-container {
  display: flex;
  flex-direction: column;
  margin: 0rem auto 3rem auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.3);
  width: 65%;
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.11); }
  @media (max-width: 750px) {
    .upload-result-container {
      width: 75%; } }
  @media (max-width: 550px) {
    .upload-result-container {
      width: 80%; } }
  @media (max-width: 450px) {
    .upload-result-container {
      width: 85%; } }
  @media (max-width: 340px) {
    .upload-result-container {
      width: 90%; } }

.upload-sn, .upload-subjects, .upload-type, .upload-result-delete {
  padding: 1.5rem .7rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  margin-right: .5%; }

.upload-sn {
  width: 6%; }

.upload-subjects {
  width: 60%; }

.upload-type {
  width: 30%; }

.upload-result-delete {
  width: 4%;
  margin-right: 0; }

.upload-delete-icon {
  font-size: 1.8rem;
  transition: all .2s; }
  .upload-delete-icon:hover {
    color: red; }

.resize-select-field {
  width: 100%; }

.remove-input-border {
  border: none; }

.each-subject-result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80rem;
  margin: 1rem auto 4rem auto; }
  @media (max-width: 1100px) {
    .each-subject-result-container {
      width: 75%; } }
  @media (max-width: 750px) {
    .each-subject-result-container {
      width: 80%; } }
  @media (max-width: 675px) {
    .each-subject-result-container {
      width: 95%; } }
  @media (max-width: 600px) {
    .each-subject-result-container {
      width: 60%;
      flex-direction: column;
      padding: 3rem 1rem;
      border: 1px solid rgba(109, 156, 125, 0.2);
      border-radius: 2rem; } }
  @media (max-width: 368px) {
    .each-subject-result-container {
      width: 75%; } }

.reduced-width-select {
  width: 47%;
  height: 4.5rem;
  border-radius: 10rem;
  padding-right: 5.7rem;
  display: block;
  box-sizing: border-box;
  position: relative;
  margin-right: 5%;
  overflow: hidden; }
  @media (max-width: 600px) {
    .reduced-width-select {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 75%; } }
  @media (max-width: 450px) {
    .reduced-width-select {
      width: 85%; } }

.score-input {
  width: 28%;
  border: none;
  height: 4.5rem;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10rem;
  padding: 0 .5rem;
  background-color: rgba(109, 156, 125, 0.1);
  color: rgba(0, 0, 0, 0.6);
  margin-right: 5%;
  font-size: 1.5rem;
  outline: none; }
  .score-input::placeholder {
    color: rgba(0, 0, 0, 0.25); }
  @media (max-width: 600px) {
    .score-input {
      margin-right: 0;
      margin-bottom: 2rem;
      text-align: left;
      padding-left: 2rem;
      width: 75%; } }
  @media (max-width: 450px) {
    .score-input {
      width: 85%; } }

.add-result-btn {
  outline: none;
  text-decoration: none;
  width: 18%;
  text-align: center;
  display: block;
  padding: 1.3rem .5rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: rgba(109, 156, 125, 0.5);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s; }
  .add-result-btn:hover {
    background-color: #7ed56f; }
  @media (max-width: 600px) {
    .add-result-btn {
      border-radius: 1rem;
      width: 30%; } }
  @media (max-width: 450px) {
    .add-result-btn {
      width: 35%; } }

.each-upload-select-field {
  opacity: 0;
  position: absolute;
  background-color: rgba(109, 156, 125, 0.1);
  width: 100%;
  right: 0;
  padding: 0;
  margin: 0;
  height: 4.5rem;
  z-index: 2; }
  .each-upload-select-field:hover ~ .each-upload-select-field-icon {
    background-color: rgba(109, 156, 125, 0.5); }

.each-upload-select-field-icon {
  position: absolute;
  font-size: 1.7rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(109, 156, 125, 0.3);
  padding: 2rem;
  color: white;
  transition: all .2s; }

.upload-select-input {
  width: 100%;
  height: 4.5rem;
  border: none;
  box-sizing: border-box;
  background-color: rgba(109, 156, 125, 0.1);
  padding: 0 .5rem 0 1.5rem;
  position: relative; }

/*
###############################################
                BROADCAST MAIL
################################################
*/
.mail-input-1, .mail-input-2 {
  display: block;
  height: 4rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 1rem;
  border: none;
  border: 1px solid rgba(204, 204, 204, 0.7);
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  transition: all .2s; }
  .mail-input-1:focus, .mail-input-1:active, .mail-input-2:focus, .mail-input-2:active {
    border-width: 2.3px;
    border-color: #6d9c7d; }
  .mail-input-1::placeholder, .mail-input-2::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .mail-input-1:placeholder-shown, .mail-input-2:placeholder-shown {
    font-size: 1.3rem; }
  .mail-input-1:not(:last-child), .mail-input-2:not(:last-child) {
    margin-top: 1rem; }

.mail-input-2 {
  height: 8rem;
  margin-top: 2rem;
  font-family: sans-serif;
  padding: 1.5rem;
  margin-bottom: 2rem; }
